
*.rdx

*.rdb

*.RData

FFP activ/FFP_prelimAnalysis_cache/docx/__packages

FFP activ/FFP_prelimAnalysis_cache/html/__packages

FFP activ/FFP_prelimAnalysis_cache/latex/__packages

FFP activ/FFP_prelimAnalysis.docx

FFP activ/FFP_prelimAnalysis.html
.Rproj.user
